



body {background-color: steelblue; background-size: 35%}

body {
    display: inline-block;
    width: 35%;
    height: 300px;
    padding: 5px;
    border: 0% solid blue;        
    background-color: yellow;  }


.topleft {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 10px; }
    img { 
        border-radius: 50%;
    opacity: 0.9;
}
